</main>

<footer class="ui inverted vertical footer mt-auto segment bg-here">
    <div class="ui aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Core Tech</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Data Warehouse </a>
            <a href="#" class="item"> Synthetic Data</a>
            <a href="#" class="item"> Product</a>

          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Company</h4>
          <div class="ui inverted link list">
            <a class="item" href="#">Our Core Value</a>
            <a class="item" href="#"> Our Journey</a>
            <a class="item" href="#"> Media Kit</a>
            <a class="item" href="#"> Contact Us</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Career</h4>
          <div class="ui inverted link list">
            <a class="item" href="#">Our Value</a>
            <a class="item" href="#"> CN.AI Team</a>
            <a class="item" href="#"> Recruit</a>
          </div>
        </div>
        <div class="two wide column">
          <h4 class="ui inverted header">Community</h4>
          <div class="ui inverted link list">
            <a class="item" href="#">Recent News</a>
            <a class="item" href="#">Investment</a>
            <a class="item" href="#">Tech Blog</a>
          </div>
        </div>
        <div class="two wide column">
          <h4 class="ui inverted header">Contact us</h4>
          <div class="ui inverted link list">
            <a class="item" href="#">사업 제휴</a>
            <a class="item" href="#">마케팅·PR</a>
            <a class="item" href="#">IR</a>
            <a class="item" href="#">오시는 길 </a>
          </div>
        </div>
        <div class=" column">
          <h4 class="ui inverted header">Channel</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <div class="ui horizontal inverted small divided link list">
        씨앤에이아이
        사업자등록번호 : 231-81-10834｜대표 : 이원섭
        서울 성동구 연무장5가길 7 현대테라스타워 507호｜대전광역시 중구 중앙로 101 대전창업허브 4F
        © 2022. CNAI Inc. all rights reserved.
      </div>
    </div>
  </footer>



  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>


</body>

</html>