<header class="bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img class = "logo" src="./img/common/favicon.ico" width = "15%"> CNAI
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/company" class="nav-link px-2 text-secondary">COMPANY</a></li>
        <li><a href="#" class="nav-link px-2 text-white">COMMUNITY</a></li>
        <li><a href="#" class="nav-link px-2 text-white">CAREER</a></li>
      </ul>


      <div class="text-end">
        <a><i class="globe icon"></i></a>
        <button type="button" class="btn btn-outline-light me-2">CONTACT US</button>
      </div>
    </div>
  </div>
</header>

