<!DOCTYPE html>
<html class="h-100" lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="(주)씨앤에이아이, Change for New Normal">
  <meta name="author" content="인실리코플랫폼팀" />
  <meta name="generator" content="Jekyll v4.1.1" />
  <meta property="og:title" content="(주)씨앤에이아이" />
  <meta property="og:description" content="Change for New Normal" />
  <meta name="twitter:image" content="./img/common/og.jpeg" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="(주)씨앤에이아" />
  <meta name="twitter:description" content="(주)씨앤에이아이, Change for New Normal" />
  <meta name="twitter:image" content="./img/common/og.jpeg" />



  <title>CNAI</title>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Semantic UI for Dropdown -->

  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />

  <!-- Formantic ui  -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  <!-- favicon -->
  <link rel="shortcut icon" href="./img/common/favicon.ico" type="image/x-icon">
  <link rel="favicon" href="./img/common/favicon.ico" type="image/x-icon">

  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Nanum+Myeongjo:wght@400;700;800&display=swap"
    rel="stylesheet">

<!-- AOS -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics 구버전 -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177404550-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-177404550-1');

    function close_notice() {
      document.getElementById("finance_notice").style.display = "none"
    }
  </script> -->

  <!-- Global site tag (gtag.js) - Google Analytics 새 버전-->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HF6C8EDDZ1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-HF6C8EDDZ1');
  </script>




  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="./css/style.css" />
</head>
<body class="d-flex flex-column h-100">
    <main role="main" class="flex-shrink-0 ">
      <%- include('_header_dark'); -%>