<h1>Isotope - layout modes</h1>

<div class="button-group layout-mode-button-group">
  <button class="button is-checked" data-layout-mode="masonry" checked="checked">masonry</button>
  <button class="button" data-layout-mode="fitRows">fitRows</button>
  <button class="button" data-layout-mode="cellsByRow">cellsByRow</button>
  <button class="button" data-layout-mode="vertical">vertical</button>
  <button class="button" data-layout-mode="packery">packery</button>
  <button class="button" data-layout-mode="masonryHorizontal" data-is-horizontal="true">masonryHorizontal</button>
  <button class="button" data-layout-mode="fitColumns" data-is-horizontal="true">fitColumns</button>
  <button class="button" data-layout-mode="cellsByColumn" data-is-horizontal="true">cellsByColumn</button>
  <button class="button" data-layout-mode="horiz" data-is-horizontal="true">horiz</button>
</div>

<div class="grid">
  <div class="grid-item grid-item--width2">1</div>
  <div class="grid-item grid-item--height2">2</div>
  <div class="grid-item">3</div>
  <div class="grid-item">4</div>
  <div class="grid-item grid-item--width2 grid-item--height2">5</div>
  <div class="grid-item grid-item--width2">6</div>
  <div class="grid-item grid-item--height2">7</div>
  <div class="grid-item">8</div>
  <div class="grid-item">9</div>
  <div class="grid-item grid-item--width2">10</div>
  <div class="grid-item">11</div>
  <div class="grid-item">12</div>
    <div class="grid-item">8</div>
  <div class="grid-item">9</div>
  <div class="grid-item grid-item--width2">10</div>
  <div class="grid-item">11</div>
  <div class="grid-item">12</div>
    <div class="grid-item">8</div>
  <div class="grid-item">9</div>
  <div class="grid-item grid-item--width2">10</div>
  <div class="grid-item">11</div>
  <div class="grid-item">12</div>
</div>

<script>
// external js: isotope.pkgd.js, cells-by-column.js, cells-by-row.js, fit-columns.js, horizontal.js, masonry-horizontal.js

// init Isotope
var $grid = $('.grid').isotope({
  itemSelector: '.grid-item',
  layoutMode: 'masonry',
  masonryHorizontal: {
    rowHeight: 110
  },

});

var isHorizontal = false;
var $window = $( window );

$('.layout-mode-button-group').on( 'click', 'button', function() {
  // adjust container sizing if layout mode is changing from vertical or horizontal
  var $this = $(this);
  var isHorizontalMode = !!$this.attr('data-is-horizontal');
  if ( isHorizontal !== isHorizontalMode ) {
    // change container size if horiz/vert change
    var containerStyle = isHorizontalMode ? {
      height: $window.height() * 0.7
    } : {
      width: 'auto'
    };
    $grid.css( containerStyle );
    isHorizontal = isHorizontalMode;
  }
  // change layout mode
  var layoutModeValue = $this.attr('data-layout-mode');
  $grid.isotope({ layoutMode: layoutModeValue });
});  

// change is-checked class on buttons
$('.button-group').each( function( i, buttonGroup ) {
  var $buttonGroup = $( buttonGroup );
  $buttonGroup.on( 'click', 'button', function() {
    $buttonGroup.find('.is-checked').removeClass('is-checked');
    $( this ).addClass('is-checked');
  });
});
</script>