{% extends 'base.html' %}

{% block content %}
<!-- 1회성 -->
<style>
  .text-c {
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 400;
    font-size: 5.5rem;
    line-height: 129%;
    /* or 129% */


    background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 56.58%), linear-gradient(270deg, #7E53FF 24.94%, rgba(126, 83, 255, 0) 80.15%), #5A54F5;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .btn-down {
    transform: rotate(45deg);
  }

  .c-btn:hover,
  .c-btn-active {
    transform: rotate(45deg);
  }

  .c-btn {
    transition: 0.5s;
  }

  .member:hover {
    top: -2rem;
  }

  .member {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }

  .btn-up {
    transform: rotate(-45deg);
  }

  .btn-sm-member:hover {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
  }

  .btn-sm-member:hover,
  .btn-sm-member-active {
    transform: rotate(-180deg);
  }

  .swiper {
    height: 50vh;
  }


  .w-60 {
    width: 60vw;
  }

  .w1 {
    width: 17vw;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #BDBDBD;
  }

  .swiper-button-prev {
    left: 16vw;
  }

  .swiper-button-next {
    right: 16vw;
  }

  .bg-blur {
    background: rgba(255, 255, 255, 0.5);
  }

/* .m-2:hover > div{
  opacity: 0.6
} */
.m-2 > .card:hover{
  color: #363D47 !important;
}

.m-font{
  font-family: 'Apple SD Gothic Neo';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 36px;
/* or 180% */

letter-spacing: -0.02em;
}

.w3{
  width:24% !important;
}

.wrapper {
  width: auto;
  height: auto;
}

.circle {
  width: 200px;
  height: 200px;
  background: #2ecc71;
  border-radius: 100px;
  position: relative;
  margin: 100px auto 0 auto;
}

.c1{
  width: 16rem;
  height: 16rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), #5A54F5 !important;
  border-radius: 8rem;
}

.c2{
  width: 15rem;
height: 15rem;
border-radius: 7.5rem;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%), #E6E6E6 !important;
}

.c3{
  width: 23rem;
height: 23rem;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), #4E5968 !important;

}

.c4{
  width: 13rem;
height: 13rem;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%), #FFFFFF !important;

}


.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}


.v1-down{
  border-left: 1px dashed #4E5968;
    transform: rotate(180deg);
    transform-origin: 0% 100%;
} 

.v1-up{
  border-left : 1px dashed #4E5968;
  transform: rotate(180deg);
    transform-origin: 0% 0%;

}
</style>

<img src='img/career/banner.png' class='w-100'>
<div class="float-end" style="
    position: fixed;
    bottom: 10vh;
    right: 10vw;
    z-index:2;
    
">
  <button class="ui button shadow-lg">
    채용공고 보러가기
  </button>
</div>

<section id='banner' class='container'>
  <div class='row'>
    <div class='col-8'>
      <h1 class='text-c'>함께이기에 <br />
        더 빛이 나는 사람들,</h1>
    </div>
    <div class='col-4 d-flex '>
      <h1 class='Point_1 mt-auto' style='font-family: made-tommy-outline; font-size: 5.93rem;'>CN.TEAMS</h1>
    </div>
  </div>
</section>




<section class='isBg' style='background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(248,248,255,1) 70%, rgba(240,240,255,1) 100%);'>
  
  <!-- linear-gradient(180deg, rgba(248, 248, 255, 0) 0%, #F8F8FF 64.22%); -->
  <section class="box d-flex" style="height: 60vh;">
    <div class="text-center align-self-center mx-auto">
      <h5 class="SubTitle_1 Gray_2 ">How we work</h5>
      <h3 class="mt-3 Gray_1 Title_2">우리가 성장하는 방식 </h3>
    </div>
  </section>



  <section id='cards' class=''>
    <!-- Swiper -->

    <div class="swiper career-slide">
      <div class="swiper-wrapper">

        {% set say1 = [{ title: "시행착오의\n 가치를 믿어요.", id: 1, description: "실패는 잘못이 아니에요. 넘어지는 것을 두려워하지 않고, 다시 일어나 두 걸음 더
        앞으로 나아가요." },
        { title: "함께 성장하는 \n 힘을 믿어요.", id: 2, description: "혼자보다 함께할 때 더 큰 변화를 만들 수 있음을 믿고, 신뢰를 기반으로 소통하며 하나의 목표를 위해 협력해
        나가요."} ,
        {title: "스스로 업무를\n 정의해나가요.", id: 3, description: "주체적으로 롤을 정의하고 업무를 선택하며 깊이 몰입해요. 끊임없이 역량을 쌓으며 더 나은 미래를 만들어
        나가요."},
        {title: "솔직함과 자유로움으로\n 성과를 만들어 나가요.", id:4, description: "의견 충돌을 두려워하지 않고 피드백을 나누며 서로가 더 건강하게 성장해요. 치열한 논의와
        소통을 통해, 최고의 결과를 도출해요."}]
        %}

        {% for item in say1 %}
        <div class="swiper-slide w-60">
          <div class="card w-100 border-0 rounded-0 ">
            <img src="img/career/howWeWork/{{ item.id }}.png" class="card-img" alt="{{ item.title   }}">
            <div class="card-img-overlay container c{{loop.index}}-img d-flex flex-column h-100 p-5">
              <div class='row g-0 h-100'>
                <div class='col-4 d-flex flex-column '>
                  <h5 class="card-title ">{{ item.title | striptags(true) | escape | nl2br}}</h5>
                  <div class='mt-auto '>
                    <p class="card-text  c{{ loop.index }} transition hidden">{{ item.description }} </p>
                  </div>
                </div>
                <div class='col align-self-end'>
                  <button onClick="showUp($(this).attr('id'))" id='c{{ loop.index }}'
                    class="align-items-baseline border-0 card-text bg-transparent float-end c-btn c{{ loop.index }}-btn"><i
                      class="bi bi-plus-circle text-white "></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <!-- <span class= 'prev  '><i class="angle left icon"></i></span>
      <span class= 'next '><i class="angle right icon"></i></span> -->
      <div class="swiper-button-next"><i class="angle right icon"></i></div>
      <div class="swiper-button-prev"><i class="angle left icon"></i></div>
    </div>
  </section>




  <section id='teamIntroduction'>
    <div class='text-center' style='margin-top:30vh; margin-bottom:20vh;'>
      <span class='team-intro Title_1 Gray_3'><span class='Point_1'>씨</span>앤에이아이 <span class='Point_1'>팀</span>을 <span
          class='Point_1'>소</span>개합니다!</span>
    </div>


    <div class="offset-lg-2">
      <div class="border-0 ui attached tab segment bg-transparent" data-tab="first">
     
        <div class='my-5 '>    <span class="ui large label Body_1_eng text-white align-text-top me-2" style="background: #929AA4; bottom: 0.4rem;position: relative;">
          Q1
        </span><span class = 'Title_1 Gray_1'>CN.AI에서 나는 어떤 사람? </span></div>

        <div class="swiper mySwiper1">
          <div class="swiper-wrapper">
            {% for s in data %}
            {% if s.question == 1 %}
            <div class="swiper-slide w1">
              <div class="card border-0 mb-3 shadow member mt-5 w-100 p-4 rounded-4">
                <p class="Title_2 ">나는 CN.AI의 <br /><span class='Title_1' style="color: #{{ s.color }} ">{{ s.title
                    }}</span></p>
                <button class="mini ui circular icon button col-1 btn-sm-member m{{ loop.index }}-btn"
                  style='width:1.5rem; height: 1.5rem;' onclick="showUp2($(this).attr('id')) " id="m{{ loop.index }}"><i
                    class="angle down icon"></i></button>
                <div class="card-body Gray_2 m{{ loop.index }} d-none">
                  <p class="card-text">{{ s.content | striptags(true) | escape | nl2br}}</p>
                </div>
                <div class="card-footer mt-auto bg-transparent border-0 Gray_1 member-Tab">{{ s.writer }}</div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      
{% for i in range(2,6) %}
      <div class="border-0 ui attached tab segment bg-transparent" data-tab="member-{{ i }}">
        <div class="swiper mySwiper{{ i }}">
          <div class="swiper-wrapper m-{{ i }}">
            {% for s in data %}
            {% if s.question == i %}
            
            <div class="swiper-slide w1 " id = "">
              <div class="card border-0 mb-3 shadow member mt-5 w-100 p-4 rounded-3">
             
                <div class="card-body Gray_3  ">
                  <p class="">{{ s.content | striptags(true) | escape | nl2br }}</p>
                </div>
                <div class="card-footer mt-auto bg-transparent border-0 Gray_1 member-Tab">{{ s.writer }}</div>
              </div>
            </div>
            {% endif %}
            {% endfor %}        
          </div>
        </div>
      </div>
  {% endfor %}


      <div class="ui pointing secondary menu border-0">
        <a class="item active" data-tab="first"></a>
        <a class="item" data-tab="member-2"></a>
        <a class="item" data-tab="member-3"></a>
        <a class="item" data-tab="member-4"></a>
        <a class="item" data-tab="member-5"></a>
      </div>

    </div>
  </section>
</section>


<section id='welfare' class='container'>

  <div class=' row justify-content-center' style = "margin-top: 30vh;" >
    <h5 class = 'Gray_2 SubTitle_1 text-center'>Our Welfare
    </h5>
    <h4 class='col-5 Title_2 Gray_1'>아낌없는 지원으로 업무 몰입 뿐 아니라,
      팀원들의 성장과 자아실현까지 이끌어갑니다.</h4>
  </div>

  <img class='w-100 my-3' src='img/career/5.png'>

  <div class='row g-5' style = 'margin-top: 30vh; margin-bottom: 30vh'>
{% for s in data %}
{% if s.question == 6 %}

    <div class='col-3 offset-lg-1 my-5 py-5' data-aos="fade-up" data-aos-delay="{{ (loop.index-25) * 100 }}">
      <img src='img/career/{{ s.color }}.svg' alt = '{{ s.title }} ' class= 'col-2' >
      <h4 class = 'mt-3 Gray_1 Title_3'>{{ s.title }}</h4>
      <h5 class = 'Body_1' style = 'color:#7E7E7E; '>{{ s.content }}</h5>
    </div>
  {% endif %}
  {% endfor %}


  </div>

</section>
<!-- background-color:transparent -->
<section id='progress' style = 'background-color: #F2F5F8; height: 150vh;'>

<div style = 'margin-bottom: 6rem; padding-top:12vh '>
  <h1 class='text-center Title_1 Gray_1' >영입 절차 </h1>
  <p class='text-center Point_1 Body_1'>지원 후 2주 내 최종 발표 진행</p>
</div>

  <div class = 'row'>
    <div class='col-2 Body_1 Gray_0 mt-4' style = 'margin-left : 39vw;'>지원자의 역량을 확인하기 위한
      인적성 적합도 평가 과정</div>
      <div class='col-2 Body_1 Gray_0' style = 'margin-left: 23vw'>3개월간의 수습 기간 동안
        적합도 평가를 통해 정직원 전환 진행</div>
  </div>

  <div class="row justify-content-center">

    <div class="ui circular segment position-relative border-0 my-auto  c1 border-0 position-relative">
      <div class="circle-text text-white">
        <p class="label mb-2"> 01</p>
        <div class="col-3 mx-auto mb-3" style="border-bottom: 2px solid white"></div>
        <p class="Title_3">서류 평가 </p>
      </div>
      <div class="d-flex position-absolute bottom-0 start-50 translate-middle-x" >
        <div class="v1-down mx-auto" style = 'height: 9.3rem;'></div>
      </div>

    </div>
    
    <div class="ui circular segment position-relative border-0 my-auto c2">
      <div class = 'circle-text Gray_1'>
        <p class = 'label mb-2'> 02</p>
        <div class="col-3 mx-auto mb-3" style="border-bottom: 2px solid #4E5968"></div>
        <p class = 'Title_3'>인적성 검사 </p>
      </div>  
      <div class="d-flex position-absolute top-0 start-50 translate-middle-x" >
        <div class="v1-up mx-auto" style = 'height: 9.3rem;'></div>
      </div>
    </div>   

    <div class = 'ui circular segment position-relative border-0 my-auto c3'>
      <div class = 'circle-text text-white'>
      <p class = 'label'> 03</p>
      <div class="col-3 mx-auto mb-3" style="border-bottom: 2px solid white"></div>
      <p class = 'Title_3'>역량 / 문화 <br />
        인터뷰</p>
    </div>
    <div class="d-flex position-absolute bottom-0 start-50 translate-middle-x" style="">
      <div class="v1-down mx-auto" style = 'height: 7rem;'></div>
    </div>

  </div>
  
  <div class="ui circular segment position-relative border-0 my-auto c2">
    <div class = 'circle-text Gray_1'>
      <p class = 'label'> 04</p>
      <div class="col-3 mx-auto mb-3" style="border-bottom: 2px solid #4E5968"></div>
      <p class = 'Title_3'>정직원 채용 </p>
    </div>  
    <div class="position-absolute top-0 start-50 translate-middle-x" >
      <div class="v1-up mx-auto" style = 'height: 10rem;'></div>
    </div>
  </div>  

  <div class = 'row mt-4'>
    <div class='col-2 Body_1 Gray_0' style = 'margin-left : 22vw;'>실무진들의 면밀한 검토를 
      통한 서류 평가 과정 </div>
      <div class='col-3 Body_1 Gray_0 mt-4' style = 'margin-left: 20vw'>역량, 컬쳐핏이 CN과 부합하는지 
        알아보기 위한 역량/문화 인터뷰</div>
  </div>

  </div>


  <div class = 'container'>
    <div class = 'col'>
    <span class="ui huge label bg-white Gray_1">
      채용 문의
    </span>
    <span class= 'Gray_0'>hr_team@cnai.ai</span>
    <span class = 'Gray_2'>문의하기 > </span>
  </div> 
  </div>


</section>


{% endblock %}

{% block title %}CNAI의 개발팀의 일상 엿보기 {% endblock %}
{% block btn %} Tech Blog 바로가기 {% endblock %}

{% block localScript %}
<script>
  var swiper = new Swiper(".mySwiper1", {
    slidesPerView: 'auto',
    // centeredSlides: true,
    spaceBetween: 30,
    grabCursor: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });

  let swiper2 = new Swiper(".mySwiper2", {
    slidesPerView: 'auto',
    // centeredSlides: true,
    spaceBetween: 30,
    grabCursor: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });

  let swiper3 = new Swiper(".mySwiper3", {
    slidesPerView: 'auto',
    // centeredSlides: true,
    spaceBetween: 30,
    grabCursor: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });

  let swiper4 = new Swiper(".mySwiper4", {
    slidesPerView: 'auto',
    // centeredSlides: true,
    spaceBetween: 30,
    grabCursor: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });

  let swiper5 = new Swiper(".mySwiper5", {
    slidesPerView: 'auto',
    // centeredSlides: true,
    spaceBetween: 30,
    grabCursor: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });

  $('.menu .item')
    .tab()
    ;
  showUp = (myId) => {
    let blur = myId + '-img';
    let say = '.' + myId;
    let btn = myId + '-btn';
    document.getElementsByClassName(blur)[0].classList.toggle("bg-blur");
    document.getElementsByClassName(btn)[0].classList.toggle("c-btn-active");
    $(say)
      .transition('fade up')
      ;
  }

  showUp2 = (myId) => {
    let memberBtn = myId + '-btn'
    document.getElementsByClassName(myId)[0].classList.toggle("d-none");
    document.getElementsByClassName(memberBtn)[0].classList.toggle("btn-sm-member-active");
  }

  var swiper = new Swiper(".career-slide", {
    slidesPerView: 'auto',
    centeredSlides: true,
    spaceBetween: 90,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    initialSlide: 1,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    }


  });
</script>
{% endblock %}