<%- include('partials/head'); -%>
<!-- 1회성 -->
<style> 
.outline{
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
</style>

<img src = 'img/1.jpge' class = 'w-100'>
<section id = 'banner' class = 'container'>
  <div class = 'row'>
  <div class = 'col'>
<h1>함께이기에  <br />
  더 빛이 나는 사람들,</h1>
  </div>
  <div class = 'col'>
    <h1 class = 'outline' >CN.TEAMS</h1>
  </div>
</div>
  <div class = 'row'>
    <h5>How we work</h5>
    <h3>우리가 성장하는 방식 </h3>
  </div>
</section>


  <%- include('partials/_footer_dark'); -%>

