<%- include('partials/head'); -%>
<section class="py-5 text-center container-flujid mb-5 bg-dark text-light" style="height: 100vh">
  <div style="margin-top: 40vh;" data-aos="fade-up">
      <h1>CN.AI의 소식을 알려드립니다.</h1>    
  </div>
</section>

<section id = 'news' class= 'container'>
  <h1 class = 'my-5'>한발 빠르게 받아보는 소식</h1>
</section>
<section id = 'investment' class = 'bg-dark'>

<table class="ui very basic table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>Approved</td>
      <td>None</td>
    </tr>
    <tr>
      <td>Jamie</td>
      <td>Approved</td>
      <td>Requires call</td>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Denied</td>
      <td>None</td>
    </tr>
  </tbody>
</table>

</section>

<section id = 'channel' class = 'container'>
  
  <h5>Official Channel</h5>
  <h1>CN.AI의 다양한 채널을 만나보세요.</h1>

  <div class = 'row'>
    <div class = 'col'>
      <div class = 'col-12'>cnai.ai</div>
      <div class = 'col-12'>cn.table</div>
    </div>
    <div class = 'col'>Tech blog</div>
    <div class = 'col'>CNAI</div>
  </div>

</section>


<section id = 'btn-career' class = 'container-fluid'>
  <section class="py-5 text-center container-flujid mb-5 bg-dark text-light" style="height: 100vh">
    <div style="margin-top: 40vh;" data-aos="fade-up">
        <h1>CN.AI 팀원들의 이야기가 궁금하다면 </h1>
        <div class = 'ui button'>CAREER</div>
    </div>
  </section>
</section>

  <%- include('partials/_footer_dark'); -%>