<%- include('partials/head'); -%>
<section class="py-5 text-center container-flujid mb-5 bg-dark text-light" style="height: 100vh">
  <div style="margin-top: 40vh;" data-aos="fade-up">

      <h1>합성 데이터로 새로운 패러다임을 만듭니다.</h1>
    
  </div>
</section>
  <div class="container col-8 mt-4">
 

    <section class="py-5 text-center container my-5 " style="height: 100vh; background-color:
      #4E5968 ;">
      <div class="row py-lg-5">
        <small class="subTitle">CN.AI in number</small>
      </div>
      <div class="row">
        <div class="col">
          <h1 data-aos="fade-up">1 st</h1>
          <p>국내 최초
            합성 데이터 활용 기업</p>
        </div>
        <div class="col">
          <h1>10,000,000 +</h1>
          <p>합성 데이터를 위해
            수집한 원천 데이터 수</p>

        </div>
        <div class="col">
          <h1>92 +</h1>
          <p>프로젝트를 위해 보유한
            AI 모델의 수(2022.2월 기준)
          </p>
        </div>
      </div>
    </section>

    <section class="py-5 text-center container my-5 bg-dark" style="height: 100vh">
      <div class="row pt-lg-5 text-light">
        <small>Our Core Value </small>
        <h2 data-aos="fade-right">코드를 넘어, 더 나은 미래를 설계합니다.</h2>

      </div>

    </section>

    <section id="description" class="gray1">
      <div class="row">
        <div class="col" data-aos="fade-up" id="d1">
          <h3>진정성 있는</h3>
          <p>‘진정성’있게, 서로에 대한 신뢰를
            바탕으로 끊임없이 소통합니다. </p>
        </div>
        <div class="col" data-aos="fade-up" id='d2' data-aos-delay="200">
          <h1>함께 성장하는</h1>
          <p>잠재력이 가득한 최고의 팀원들이
            함께 멋진 미래를 만들어 나갑니다.</p>

        </div>
        <div class="col" data-aos="fade-up" data-aos-delay="400">
          <h1>끊임없이 도전하는</h1>
          <p>최선의 결과를 위해 고민하고 도전하며,
            질문에 대한 해답을 찾아냅니다.
          </p>
        </div>
      </div>
    </section>

  </div>


  <section id="journey" class="container-fluid">
    <div class="row">Our Journey</div>
    <div class="row">
      <p class="col-3">
        대한민국 최고의 합성 데이터
        기업으로 거듭나겠습니다.
      </p>
    </div>
    <div class="row">
      <div class="col"> 2022</div>
      <div class="col"> 2021</div>
      <div class="col"> 2020</div>
    </div>

    </hr>

    <div class="row">
      <div class="col"> 합성데이터 연구 확대
        의료, 금융, IT 등
        <p>
          <span>합성데이터 기반 서비스 활용
          </span>
          <span> 대기업/정부 프로젝트 진행</span>
        </p>

        <p>
          <span>주요 기술 엔진 솔루션화

          </span>
          <span>Al Human Web Base SaaS</span>
        </p>
        <p>Pre-A 투자 유치</p>
      </div>
      <div class="col">
        <p>
          <span>주요 기술 엔진 솔루션화

          </span>
          <span>Al Human Web Base SaaS</span>
        </p>

        <p>
          <span>대기업 거래 확대</span>
          <span> 농협은행, 삼성SDS 등</span>
        </p>

      </div>
      <div class="col">
        <p>
          <span>프로젝트 기반의
            Core 기술 누적</span>
          <span> 설명입니다. 설명입니다.</span>
        </p>

        <p>
          <span>IBK/Tips 육성
            스타트업 선정</span>
        </p>
      </div>
    </div>
  </section>

<section class='container col-8'>
  <section id='ourLeaders' >
    <h5>Our Leaders</h5>
    <h2>AI의 미래를 그리는 사람들</h2>
    <div class="row g-3">
      <div class='col-lg-6'>
        <div class="card">

          <div class="content">
            <div class="header">WonSeop Lee <span> CEO </span></div>
            <div class="meta">
              <a>Friends</a>
            </div>
            <div class="description">
              <ul>
                <li>삼성전자 메모리사업부 SW개발팀 SW엔지니어 (삼성전자 SCSA수료)</li>
                <li>카이스트, 기술경영 석사</li>
                미국 인디아나 대학교 경제학 학사
              </ul>

            </div>
          </div>
          <div class="image">
            <img src="/img/1.jpeg">
          </div>
        </div>
      </div>

      <div class="card mb-3 col-lg-6" >
        <div class="row g-0">
         
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

          <div class="col-md-4">
            <img src="/img/1.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
        </div>
      </div>

      <div class="card mb-3  col-lg-6" >
        <div class="row g-0">
         
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

          <div class="col-md-4">
            <img src="/img/1.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
        </div>
      </div>
      
    </div>

  </section>


  <section id = 'ourTeam'>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
  
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">Our Team</h5>
        <p class="card-text">함께이기에
          빛이 나는 사람들</p>
        <p class="card-text"><small class="text-muted">그들의 이야기가 궁금하다면</small></p>
      </div>
    </div>
    <div class="col-md-6">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
  </div>
</div>
  </section>
</section>

<img src = '/img/1.jpeg' class = 'w-100'>

<section id = 'welfare'></section>
<section id = 'story' class = 'row'>
  <div class = 'col-4 text-center'></div>
  <p>Our Story</p>
  <p>More</p>
  <div class = 'col-8'></div>
</section>





  <%- include('partials/_footer_dark'); -%>