

html{
  font-size: 16px;
 }



  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
  }
  
#moveArrow:hover #myArrow{
  transform: rotate(180deg);
  transition: all 0.4s ease;


}

  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }



.btn-1{
  color: #BDBDBD;
  background-color: #F2F5F8;
}

.Gray_0{
  color: #363D47 !important;
}

.Gray_1{
  color: #4E5968 !important;
}

.Gray_2{
  color: #929AA4 !important;
}

.Gray_3{
  color: #bdbdbd !important;
}

.Gray_4{
  color: #eeeeee !important;
}


.Gray_5{
  color: #f2f5f8 !important;
}





.v-line{
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {

  background: #fff;
  width: 80vw;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ui.header, h1, h2, h3, h4, h5, h6,html, body {
  font-family: 'made-tommy';
}

.subTitle{
  font-size: 1.6rem; 
  /* 26px */
}

.gray2{
 color: #BDBDBD;

}

.gray1{
  color: #4E5968
}


@font-face {
  font-family: made-tommy-outline;
  src: url("/css/font/made-tommy-outline/webfonts/made-tommy-outline.woff") format("woff"),url("/css/font/made-tommy-outline/webfonts/made-tommy-outline.ttf")  format("truetype");
}

@font-face {
  font-family: made-tommy;
  src: url("/css/font/made-tommy/webfonts/made-tommy.woff") format("woff"),url("/css/font/made-tommy-outline/webfonts/made-tommy.ttf")  format("truetype");
}