.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html {
  font-size: 16px;
  font-family: 'AppleSDGothicNeo', 'made-tommy', sans-serif;
}

.kr{
  font-family: 'AppleSDGothicNeo' !important;
}

@import "//cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/all.min.css";

.en {
  font-family: 'made-tommy'
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

#moveArrow:hover #myArrow {
  transform: rotate(180deg);
  transition: all 0.4s ease;


}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 4rem;
  transform: scaleX(0);
  height: 2px;
  bottom: 0rem;;
  top: 120%;
  left: 30%;
  background-color: white;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

/*  */
button{
  font-family: 'made-tommy';
}

/* eng so far */
.SubTitle_1 {
  font-family: 'made-tommy';
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0em;
}

.Title_1 {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 3.5rem;
  /* Extra bold */
  letter-spacing: 0%;
}

.Title_2 {
  /* Apple SD Gothic Neo / Semi Bold / 1.875rem / line height 2.813rem / letter spacing -2%  */
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.813rem;
  letter-spacing: -2%;
}

.Title_3 {
  /* Apple SD Gothic Neo / Semi Bold / 1.625rem / line height 2.5rem / letter spacing -2%  */
  font-family: 'Apple SD Gothic Neo';
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 2.5rem;
  letter-spacing: -2%;
}

.footer-text{
font-family: 'Apple SD Gothic Neo';
font-style: normal;
font-weight: 600;
font-size: 0.9rem;
line-height: 210%;
/* or 31px */
letter-spacing: -0.02em;

/* CNAI/Gray_1 */
color: #4E5968;

}
.Body_1 {
  /* Apple SD Gothic Neo / Medium / 1.25rem / line height 2.25rem / letter spacing -2%  */
  font-family: 'Apple SD Gothic Neo';
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2.25rem;
  /* or 180% */
  letter-spacing: -2%;
}

.Body_2 {
  font-family: 'Apple SD Gothic Neo';
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -2%;
}


.Title_1_eng {
  font-family: made-tommy;
  font-size: 2.375rem;
  font-weight: 500;
  /* line-height: 3.5rem; */
  letter-spacing: 0%;
}

.Title_2_eng {
  font-family: 'made-tommy';
  font-weight: 400;
  font-size: 2rem;
  /* line-height: 2.813rem; */
  letter-spacing: 0%;
}


.Title_3_eng {
  font-family: 'made-tommy';
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.625rem;
  letter-spacing: 0%;
}

footer .ui.link.list .item, .ui.link.list .item a:not(.ui), .ui.link.list a.item{
  color: #4E5968;
}

.Body_1_eng {

  font-family: 'made-tommy' !important;
  font-weight: 500 !important;
  font-size: 1.25rem !important;
  line-height: 2.25rem ;
  /* or 180% */
  letter-spacing: 0%;
}

.Body_2_eng {
  font-family: 'made-tommy';
  font-weight: 500;
  font-size: 1rem;
  /* line-height: 1.25rem; */
  /* letter-spacing: 0%; */
}

.Btn_1{
  font-family: 'made-tommy';
  font-weight: 400;
  font-size: 1.5rem;
  /* line-height: 2.5rem; */
  /* letter-spacing: 0%; */
}

.Btn_2{
  font-family: 'made-tommy';
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0%;
}

.Tab{
  font-family: 'made-tommy';
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0%;
}

.member-Tab{
  font-family: 'Apple SD Gothic Neo';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 32px;
/* or 160% */

letter-spacing: -0.02em;
}

.Point_1{
  color: #5A54F5;

}
.Label{
  font-family: 'made-tommy';
  font-weight: 400;
  font-size: 1rem;
  line-height: 'auto';
  letter-spacing: 0%;
}

.btn-blue-tab.is-checked, .btn-blue-tab:hover{
  border : none;
  color: #5A54F5;
  height: 3rem;
  font-family: 'made-tommy';
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0%;
  background: #F0F0FF !important;
border-radius: 5px;
/* padding-right: 1rem;
padding-left: 1rem; */
}

::selection {
  color: white;
  background: #5A54F5;
}

.btn-1 {
  color: #BDBDBD;
  background-color: #F2F5F8;
}
.btn-sm-1{
  width: 48px;
}

.c-btn:hover,.c-btn-active {
  transform: rotate(45deg);
}

.c-btn {
  transition: 0.5s;
}
.Gray_0 {
  color: #363D47 !important;
}
.gray_0 {
  color: #363D47;
}

.Gray_1 {
  color: #4E5968 !important;
}

.Gray_2 {
  color: #929AA4 !important;
}

.Gray_3 {
  color: #bdbdbd !important;
}

.Gray_4 {
  color: #eeeeee !important;
}


.Gray_5 {
  color: #f2f5f8 !important;
}

.Gray_5_bg {
  background-color: #f2f5f8 !important;
}



.card{
  border-radius: 0;
}


.v-line {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

/*  */

.ui.header[lang=en],
h1[lang=en],
h2[lang=en],
h3,
h4,
h5,
h6,
html[lang=en],
body[lang=en] {
  font-family: 'made-tommy';
}


.ui.header[lang=kr],
h1[lang=kr],
h2[lang=kr],
h3,
h4,
h5,
h6,
html[lang=kr],
body[lang=kr] {
  font-family: 'AppleSDGothicNeo';
}

.subTitle {
  font-size: 1.6rem;
  /* 26px */
}

.gray2 {
  color: #BDBDBD;

}

.gray1 {
  color: #4E5968
}


@font-face {
  font-family: made-tommy-outline;
  src: url("/css/font/made-tommy-outline/webfonts/made-tommy-outline.woff") format("woff")
}

@font-face {
  font-family: made-tommy;
  src: url("/css/font/made-tommy/webfonts/made-tommy.woff") format("woff")
}

  .better{
    font-family: 'MADE TOMMY';
font-style: normal;
font-weight: 500;
font-size: 4rem;
line-height: 5rem;
/* identical to box height */

text-align: center;

background: linear-gradient(92.05deg, rgba(96, 255, 217, 0.8) 22.66%, rgba(50, 255, 206, 0) 86.02%), linear-gradient(90deg, rgba(126, 83, 255, 0.8) 35.05%, rgba(126, 83, 255, 0) 68.16%), #5A54F5;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
  }
