{% extends '../career.html' %}

{% block x1 %}Search CN.AI Job Openings{% endblock %}
{% block x2 %}Together, We shine brighter{% endblock %}
{% block x3 %}The way we advance{% endblock %}
{% block x4 %}Introducing CN.AI team!{% endblock %}
{% block x5 %}Recruitment Process{% endblock %}
{% block x6 %}The final announcement will be made within two weeks of application.{% endblock %}
{% block x7 %}Application Review{% endblock %}
{% block x8 %}Thorough assessment by working-level staff specialized in relevant fields{% endblock %}
{% block x9 %}Personality and Aptitude Test{% endblock %}
{% block x10 %}Personality and Aptitude assessment process to identify applicant’s competence{% endblock %}
{% block x11 %}Competency/Culture Interview{% endblock %}
{% block x12 %}Interview to see if the Competency/Culture fit matches CN.AI{% endblock %}
{% block x13 %}Full-time Emplolyment{% endblock %}
{% block x14 %}Convert to full-time employees after 3 months Intern{% endblock %}
{% block x15 %}Careers FAQ{% endblock %}
{% block x16 %}A peek into the daily life of CNAI's development team{% endblock %}
{% block title %}Shortcut to Tech Blog{% endblock %}