{% extends '../company.html' %}
{% block x1 %}
We Create A New Paradigm with Synthetic Data.
{% endblock %}

{% block x2 %}
Make Your Dream Come True to Everything You Want, AI.
{% endblock %}

{% block x3 %}
Korea’s First Company to Utilize Synthetic Data
{% endblock %}


{% block x4 %}
Number of Real-World Data collected for generating Synthetic data
{% endblock %}

{% block x5 %}
Number of AI modles Had for Various Project (As of February 2022)
{% endblock %}


{% block x6 %}
Over The Code, We Code Better Future.
{% endblock %}
{% block x7 %}Authenticity{% endblock %}
{% block x8 %}We communicate constantly based on trust in each other with sincerity.{% endblock %}
{% block x9 %}Growing Together{% endblock %}
{% block x10 %}The best team members with full potential create a better future together.{% endblock %}
{% block x11 %}Constantly Challenging  {% endblock %}
{% block x12 %}Think and challenge for the best results, and find answers to questions.{% endblock %}
{% block x13 %}We Will Become The World’s Best Synthetic Data Company in Korea.{% endblock %}


{% block x14 %}Creating the futrue of AI{% endblock %}
{% block x15 %}Together, We shine brighter{% endblock %}
{% block x16 %}If you're curious about our story,{% endblock %}
{% block x17 %}Support for team members' growth and self-realization as well as work commitment{% endblock %}
{% block x18 %}It is a simple symbol and logo A, B TYPE that embody the CN of 'Change New Code', which means the company name.{% endblock %}
{% block x19 %}C.I download{% endblock %}
{% block x20 %}If you have any questions for CN.AI, please feel free to contact us!{% endblock %}
{% block x21 %}29-9 Seoripul-gil, Seocho-gu, Seoul
{% block xx21 %}13 minutes' walk from Seoul Nat’l Univ. of Education Station{% endblock %}"
{% block x22 %}4F, 101, Jungang-ro, Jung-gu, Daejeon
{% block xx22 %}3 minutes’ walk from Jung-gu District Office{% endblock %}"
{% block x23 %}If you interest in CN.AI’s Core Technologies,{% endblock %}
